body {
    margin:0px;
    padding:0px;
    background-image: url('https://wallpapercave.com/download/4k-hd-anime-pc-wallpapers-wp5121779');
    background-size: cover;
    background-position-x:right;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.658); /* Adjust the opacity as needed */
    z-index:-1;
}
.cont {
    position:absolute;
    height:75%;
    width:40%;
    background: linear-gradient(to bottom right, #3f397ec7, #050530c7);
    border-radius:15px;
    box-shadow:2px 10px 20px 10px rgba(0, 0, 0, 0.205);
    top:12.5%;
    left:30%;
    backdrop-filter: blur;
}
h1 {
    position:absolute;
    top: 2%;
    font-size:45px;
    left: 36.5%;
    font-family:Arial, Helvetica, sans-serif;
    color:rgba(117, 117, 202, 0.685);
}
.usernameCont {
    position:absolute;
    border:2px solid rgba(117, 117, 202, 0.685);
    border-radius:10px;
    height:90px;
    width:80%;
    left:10%;
    top:23%;
}
/*div:focus-within label {
    top: 7%;
    left: 5%;
    font-size: 18px;
}*/
.i1:focus + .l1,
.i1:not(:placeholder-shown) + .l1 {
  top: 7%;
  font-size: 18px;
  left:5%;
}
.i2:focus + .l2,
.i2:not(:placeholder-shown) + .l2 {
  top: 7%;
  font-size: 18px;
  left:5%;
}
input {
    position:absolute;
    top:35%;
    left:5%;
    width:90%;
    height:50%;
    outline:none;
    border:none;
    background-color: rgba(117, 117, 202, 0);
    font-size:18px;
    color:rgba(117, 117, 202, 0.9);
}
label {
    position:absolute;
    left:8%;
    top:40%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    z-index:2;
    color:rgba(117, 117, 202, 0.685);
    transition: top 0.3s,left 0.3s,font-size 0.3s;
}
.passwordCont {
    position:absolute;
    border:2px solid rgba(117, 117, 202, 0.685);
    border-radius:10px;
    height:90px;
    width:80%;
    background-color: rgba(117, 117, 202, 0);
    left:10%;
    top:48%;
}
.i3 {
    position:absolute;
    width:20px;
    height:20px;
    border:1px solid rgba(34, 34, 68, 0.8);
    top:70%;
    left:10%;
    background-color: rgba(34, 34, 68, 0);
}
.l3 {
    position:absolute;
    top:70.5%;
    left:16%;
    font-size:18px;
}
img {
    position:absolute;
    top:37%;
    height:30%;
    right:7%;
    width:7%;
    color:rgba(117, 117, 202, 0.9);
}
.b1 {
    position:absolute;
    bottom:10%;
    right:11%;
    width:25%;
    height:11%;
    border:none;
    border-radius:10px;
    cursor: pointer;
    color:rgba(34, 34, 68, 0.8);
    font-size:20px;
    font-weight:500;
    background-color: rgba(117, 117, 202, 0.685);
    transition: background-color 0.5s;
}
button:hover {
    background-color: rgba(117, 117, 202, 0.9);
}